### vscode-settings ###
extensions/installed_extensions.txt

### VisualStudioCode ###
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
